* {
    box-sizing: border-box;
  }
   
  body {
    font-family: 'Quicksand', sans-serif;
    background-color:#9CAFAA;
    margin: 0;
    padding: 0;
  }
   
  h2,
  h3 {
    color: black;
  }
   
  #footer {
    padding: 20px;
    color: black;
    background-color: #7e8d8a;
   
    text-align: center;
    font-weight: bold;
  }

  .twocontent::after {
    content: ' ';
    color: black;
    font-weight: bold;
    font-size: 20px;
    animation: changetext 10s infinite linear;
  }
  @keyframes changetext {
    10% {content: "Web Designer";}
    20% {content: "Developer";}
    30% {content: "Data Analyst";}
    40% {content: "Programmer";}
    50% {content: "Bootstrap Web Design";} 
  }
  .home .content p{
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
  }

  nav a {
    font-size: 18px;
   
    font-weight: 400;
    text-decoration: none;
   
    color: black;
  }
   
  nav a:hover {
    font-weight: bold;
  }
   
  .profile header {
    text-align: center;
  }
   
  .featured-image {
    width: 30%;
    object-fit: cover;
    object-position: center;
  }

  .img-portofolio{
    width: 49%;
    object-fit: cover;
    object-position: center;
  }

  #btn1{
    width: 120px;
    height: 30px;
    letter-spacing: 2px;
    border-radius: 3px;
    color: black;
    border: 1.5px solid black;
    background: transparent;
    margin-top: 20px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
  }

  #btn1:hover{
    background-color: #7e8d8a;
    color: black;
  } 
   
  .profile img {
    max-width: 150px;
  }
   
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
   
    padding: 20px;
  }
   
  .jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #9CAFAA;
    text-align: center;
    color: black;
  }
   
  nav ul {
    padding-inline: 4rem;
    display: flex;
   
    gap: 2rem;
  }
   
  nav li {
    list-style-type: none;
  }
   
  nav {
    background-color: #7e8d8a;
    padding: 5px;
   
    position: sticky;
    top: 0;
  }
   
  main {
    padding: 20px;
    display: flex;
    gap: 1.5rem;
  }
   
  #content {
    flex: 4;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
  }
   
  aside {
    flex: 1;
  }
   
  header {
    display: inline;
  }

  #contact i{
    color:black;
    margin-top: 30px;
    margin-left: 7px;
    font-size: 20px;
}
.social-links i{
    padding-top: 20px;
    margin-left: 10px;
    font-size: 20px;
}
   
  @media screen and (max-width: 1200px) {
    main {
      flex-flow: column nowrap;
    }
   
    main aside {
      align-self: center;
    }
  }
   
  @media screen and (max-width: 768px) {
    nav ul {
      justify-content: center;
    }
   
    main aside {
      align-self: stretch;
    }
  }
  
  